extends layout

block layout-content

  .Container.HomeView
    h1.Banner Welcome!
    .Message
      .Title
        h6 Get the best design
        h3 Everytime
      .NavButton
        button(type="button" class="btn btn-outline-secondary") Dive in! 
    