extends layout


block layout-content
  .Container.OfflineView
    h1.Banner Sorry! 
    p.Offline-text We are currently offline.
    p.Offline-text Our Website is open Monday to Friday from 9am to 5pm.
