extends layout
include common/Navbar
include common/Footer

block layout-content
  +Navbar
  .Container.ServicesView 
    h1.Banner #{title}
    .Services
      p.desc Whether you need a new design for a custom built website or a design for a popular CMS platform you'll find the perfect web design with these design services.
      .card 
        p.card-title Web Design
          .card-body 
            button.btn.btn-outline-secondary view details
      .card 
        p.card-title Wordpress Design
          .card-body 
            button.btn.btn-outline-secondary view details
      .card 
        p.card-title App Design
          .card-body 
            button.btn.btn-outline-secondary view details
      .card 
        p.card-title Icon Design 
          .card-body 
            button.btn.btn-outline-secondary view details
      .card 
        p.card-title Blog Design
          .card-body 
            button.btn.btn-outline-secondary view details
      .card 
        p.card-title Mobile Design
          .card-body 
            button.btn.btn-outline-secondary view details  
    +Footer